@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;600;700&display=swap");
@import url("reset.css");

/* ===== Основні стилі ===== */

body {
   font-family: "Inter", sans-serif;
}
.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}
.wrapper > main {
   flex-grow: 1;
}
[class*="__container"] {
   max-width: 1231px;
   margin: 0 auto;
   padding: 0 15px;
}

/* ===== header ====== */

.header {
   padding: 15px 0;
   background: linear-gradient(90deg, rgba(96, 96, 96, 1) 0%, rgba(252, 252, 252, 1) 50%, rgba(180, 180, 180, 1) 100%);
}
.header__container {
   display: flex;
   gap: 400px;
   align-items: center;
}
.header__logo {
   width: 97px;
   height: 97px;
   overflow: hidden;
   border-radius: 50%;
   vertical-align: middle;
}
.header__logo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: -30px 0;
}
.header__list {
   display: flex;
   gap: 150px;
}
.header__link {
   position: relative;
   font-size: 25px;
   color: #a52a2a;
}
.header__link:hover {
   text-shadow: 1px 1px #a52a2a;
}
.header__link::after {
   content: "";
   position: absolute;
   top: 110%;
   left: 0;
   width: 0;
   height: 2px;
   background: #a52a2a;
   transition: width 0.3s ease;
}
.header__link:hover::after {
   width: 100%;
}

/* ====================== */

.page__headline {
   font-size: 45px;
   font-weight: 700;
   letter-spacing: 8px;
   color: #913939;
   text-shadow: 2px 2px 2px coral;
   text-align: center;
   padding: 30px 0;
}

/* ===== meet ===== */

.page__meet {
   background: #412672;
   padding: 61px 0 102px 0;
}
.meet__title {
   font-size: 38px;
   margin-bottom: 31px;
   color: #fff;
   line-height: 1.2;
}
.meet__cards {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}
.meet__card {
   flex: 0 1 387px;
   padding: 20px;
   background: #fff;
   box-shadow:
      0px 384px 108px 0px rgba(0, 0, 0, 0),
      0px 246px 98px 0px rgba(0, 0, 0, 0.01),
      0px 138px 83px 0px rgba(0, 0, 0, 0.05),
      0px 62px 62px 0px rgba(0, 0, 0, 0.09),
      0px 15px 34px 0px rgba(0, 0, 0, 0.1);
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.meet__card:hover {
   background: #ffbe48;
}
.meet__image {
   max-width: 347px;
   width: 100%;
   height: auto;
}
.meet__image img {
   width: 100%;
   height: auto;
   display: block;
}
.meet__user {
   font-size: 22px;
   font-weight: 600;
   line-height: 1.23;
}
.meet__card p {
   flex-grow: 1;
   color: #4f4f4f;
   letter-spacing: -0.1px;
}
.meet__button {
   align-self: flex-start;
   color: #fe3f3f;
   transition: color 0.3s;
}
.meet__card p,
.meet__button {
   font-size: 15px;
   line-height: 1.27;
}
.meet__button:hover {
   color: #ce0000;
   text-decoration: underline;
}

/* ===== best ===== */

.page__best {
   padding: 55px 0 72px 0;
   color: #412672;
}
.best__block {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 90px;
}
.best__content {
   flex: 0 1 518px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 1.2;
}
.best__title {
   font-size: 34px;
}
.best__content p {
   font-size: 22px;
}
.best__content > p:last-of-type {
   margin-bottom: 15px;
}
.best__link {
   display: flex;
   gap: 15px;
   align-items: center;
   color: #4f4f4f;
   font-size: 20px;
   margin-bottom: 20px;
}
.best__link:last-child {
   margin-bottom: 0;
}
.best__link::before {
   content: "";
   align-self: flex-start;
   background: url(../img/frame.svg) 0 0 / 100% no-repeat;
   flex-shrink: 0;
   width: 29px;
   height: 29px;
}
.best__image {
   max-width: 764px;
   width: 100%;
   height: auto;
   margin-right: -172px;
}
.best__image img {
   width: 100%;
   height: auto;
   display: block;
}

/* ===== promo ===== */

.page__promo {
   background: #412672;
   color: #fff;
   padding: 70px 10px;
}
.promo__title {
   font-size: 24px;
   text-align: center;
   margin-bottom: 30px;
}
.promo__items {
   display: flex;
   justify-content: space-between;
}
.promo__item {
   display: flex;
   gap: 10px;
   align-items: center;
}
.promo__icon {
   max-width: 70px;
   width: 100%;
   height: auto;
}
.promo__icon--big {
   max-width: 80px;
}
.promo__icon img {
   width: 100%;
   height: auto;
   display: block;
}
.promo__text p {
   font-size: 15px;
   line-height: 1.6;
}
.promo__subtitle {
   text-align: center;
   font-size: 24px;
   font-weight: 700;
}

/* ===== footer ===== */

.footer {
   padding: 40px 0;
   text-align: center;
   font-size: 24px;
   background: linear-gradient(90deg, rgba(96, 96, 96, 1) 0%, rgba(252, 252, 252, 1) 50%, rgba(180, 180, 180, 1) 100%);
}
