/* ===== header ====== */

@media (max-width: 767.98px) {
   .header {
      padding: 15px;
      margin-bottom: 30px;
   }
   .header__logo {
      width: 50px;
      height: 50px;
   }
   .header__logo img {
      object-position: -15px 0;
   }
   .header__headline {
      font-size: 35px;
      letter-spacing: 0;
   }
}
@media (max-width: 479.98px) {
   .header {
      padding: 10px;
      margin-bottom: 20px;
   }
   .header__logo {
      width: 40px;
      height: 40px;
   }
   .header__logo img {
      object-position: -12px 0;
   }
   .header__headline {
      font-size: 25px;
   }
}

/* ===== products ====== */

@media (max-width: 1349.98px) {
   .products__card,
   .showcase__card {
      order: 2;
   }
   .product-sale,
   .sale-showcase {
      order: 1;
      grid-column: 1 / -1;
      min-height: 130px;
      height: auto;
      aspect-ratio: unset;
   }
   .sale-showcase__body {
      gap: 8px;
   }
   .product-sale__body span,
   .sale-showcase__body span {
      margin-bottom: 0;
      max-width: none;
      font-size: 24px;
   }
   .product-sale__body span {
      background-color: #f6f4f2;
   }
}
@media (max-width: 1082px) {
   .products__cards {
      grid-template-columns: repeat(2, 1fr);
   }
}
@media (max-width: 767.98px) {
   .page__products {
      margin-bottom: 40px;
   }
   .products__header {
      margin-bottom: 25px;
   }
   .hat__title {
      font-size: 30px;
   }
}
@media (max-width: 629.98px) {
   .product-sale {
      grid-column: auto;
      aspect-ratio: 248 / 335;
      min-height: unset;
   }
   .sale-showcase {
      grid-column: auto;
      aspect-ratio: 312 / 423;
      min-height: unset;
   }
   .product-sale,
   .sale-showcase {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
   }
   .products__cards {
      grid-template-columns: 1fr;
   }
}
@media (max-width: 479.98px) {
   .page__products {
      margin-bottom: 20px;
   }
   .products__header {
      margin-bottom: 15px;
   }
   .hat {
      gap: 5px;
   }
   .hat__title {
      font-size: 24px;
   }
}
@media (max-width: 344.98px) {
   .showcase {
      grid-template-columns: repeat(auto-fill, 290px);
   }
   .block-icons--row {
      gap: 5px;
   }
   .sale-showcase__body span {
      font-size: 22px;
   }
}

/* ===== flower ===== */

@media (max-width: 1229.98px) {
   .flowers__catalog-grid {
      display: flex;
      flex-direction: column;
      row-gap: 37px;
   }
   .flowers__column-grid {
      order: 2;
   }
   .flowers__grid-main {
      order: 1;
   }
   .flowers__column-big-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 29px;
   }
   .flowers__title {
      font-size: 50px;
      padding: 0;
      text-align: center;
   }
}
@media (max-width: 767.98px) {
   .page__flowers {
      padding: 25px 0;
   }
   .flowers__grid-main {
      grid-template-columns: 1fr;
   }
   .flowers__catalog-grid,
   .flowers__grid-main {
      row-gap: 25px;
   }
   .flowers__column-big-wrap {
      grid-template-columns: 1fr;
      row-gap: 25px;
   }
   .flowers__column-grid {
      gap: 30px;
   }
   .flowers__title {
      font-size: 36px;
   }
   .flowers__button {
      justify-content: center;
      align-self: center;
   }
}
@media (max-width: 424.98px) {
   .flowers__column-grid {
      gap: 20px;
   }
   .flowers__title {
      font-size: 30px;
   }
}

/* ===== footer ===== */

@media (max-width: 767.98px) {
   .footer {
      padding: 20px 0;
      font-size: 20px;
   }
}
@media (max-width: 479.98px) {
   .footer {
      padding: 15px 0;
      font-size: 18px;
   }
}
