/* ===== header ====== */

@media (max-width: 767.98px) {
   .header {
      padding: 15px;
      margin-bottom: 30px;
   }
   .header__logo {
      width: 50px;
      height: 50px;
   }
   .header__logo img {
      object-position: -15px 0;
   }
   .header__headline {
      font-size: 35px;
      letter-spacing: 0;
   }
}
@media (max-width: 479.98px) {
   .header {
      padding: 10px;
      margin-bottom: 20px;
   }
   .header__logo {
      width: 40px;
      height: 40px;
   }
   .header__logo img {
      object-position: -12px 0;
   }
   .header__headline {
      font-size: 25px;
   }
}

/* ===== products ====== */

@media (max-width: 991.98px) {
   .block-icons {
      opacity: 1;
      visibility: visible;
   }
   .icon__item--default {
      opacity: 0;
      visibility: hidden;
   }
   .icon__item--hover-card {
      opacity: 1;
      visibility: visible;
   }
}
@media (max-width: 767.98px) {
   .page__products {
      margin-bottom: 40px;
   }
   .title {
      font-size: 30px;
   }
}
@media (max-width: 479.98px) {
   .page__products {
      margin-bottom: 20px;
   }
   .products__header {
      margin-bottom: 20px;
   }
   .hat {
      flex-direction: column;
      gap: 10px;
   }
   .title {
      font-size: 20px;
   }
}

/* ===== news ====== */

@media (max-width: 767.98px) {
   .page__news {
      margin-bottom: 40px;
   }
}
@media (max-width: 479.98px) {
   .page__news {
      margin-bottom: 20px;
   }
   .news__cards {
      gap: 15px;
   }
   .news__card {
      flex-shrink: 1;
   }
   .new-card__content {
      padding: 10px;
      gap: 4px;
   }
   .new-card__meta {
      gap: 5px;
   }
   .meta__link {
      font-size: 12px;
   }
   .new-card__content p {
      font-size: 16px;
   }
   .new-card__link {
      font-size: 14px;
   }
}

/* ===== footer ===== */

@media (max-width: 767.98px) {
   .footer {
      padding: 20px 0;
      font-size: 20px;
   }
}
@media (max-width: 479.98px) {
   .footer {
      padding: 15px 0;
      font-size: 18px;
   }
}
