@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* ===== header ====== */
@media (max-width: 47.9988em) {
  .header {
    padding: 0.9375rem;
    margin-bottom: 1.875rem;
  }
  .header__logo {
    width: 3.125rem;
    height: 3.125rem;
  }
  .header__logo img {
    -o-object-position: -0.9375rem 0;
       object-position: -0.9375rem 0;
  }
  .header__headline {
    font-size: 2.1875rem;
    letter-spacing: 0;
  }
}
@media (max-width: 29.9988em) {
  .header {
    padding: 0.625rem;
    margin-bottom: 1.25rem;
  }
  .header__logo {
    width: 2.5rem;
    height: 2.5rem;
  }
  .header__logo img {
    -o-object-position: -0.75rem 0;
       object-position: -0.75rem 0;
  }
  .header__headline {
    font-size: 1.5625rem;
  }
}
/* ===== footer ===== */
@media (max-width: 47.9988em) {
  .footer {
    padding: 1.25rem 0;
    font-size: 1.25rem;
  }
}
@media (max-width: 29.9988em) {
  .footer {
    padding: 0.9375rem 0;
    font-size: 1.125rem;
  }
}
/* ===== Основні стилі ===== */
body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  margin: 0 auto;
  padding: 0 0.9375rem;
  max-width: 62.5rem;
}

/* ===== header ====== */
.header {
  padding: 1.25rem;
  margin-bottom: 3.125rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(96, 96, 96)), color-stop(50%, rgb(252, 252, 252)), to(rgb(180, 180, 180)));
  background: linear-gradient(90deg, rgb(96, 96, 96) 0%, rgb(252, 252, 252) 50%, rgb(180, 180, 180) 100%);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 6.0625rem;
  height: 6.0625rem;
  overflow: hidden;
  border-radius: 50%;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -1.875rem 0;
     object-position: -1.875rem 0;
}
.header__headline {
  font-size: 2.8125rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: #913939;
  text-shadow: 0.125rem 0.125rem 0.125rem coral;
  margin: 0 auto;
}

/* ------------------- */
.page__wrapper > * {
  margin-bottom: 30px;
}

/* --------- змінна ---------- */
.block-green {
  color: green;
}

/* --------- шаблон ---------- */
.button, .button-blue {
  padding: 10px 20px;
  font-size: 20px;
  background-color: green;
}
@media (any-hover: hover), (pointer: fine) {
  .button:hover, .button-blue:hover {
    background-color: #0b6222;
  }
}

.button-blue {
  background-color: blue;
}
@media (any-hover: hover), (pointer: fine) {
  .button-blue:hover {
    background-color: #2832b9;
  }
}

/* --------- міксін ---------- */
.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.block-mixin {
  width: 100px;
  height: 200px;
  background-color: green;
  border: 1px solid red;
}

.block-mixin-mod {
  width: 80px;
  height: 150px;
  background-color: orange;
  border: 1px solid grey;
}

/* --------- Застосування адаптивної властивості ---------- */
@media (min-width: 50em) {
  .adaptive-text {
    font-size: 55px;
  }
}
@media (min-width: 25em) and (max-width: 50em) {
  .adaptive-text {
    font-size: clamp( 20px , -15px  +  8.75vw , 55px );
  }
}
@media (max-width: 25em) {
  .adaptive-text {
    font-size: 20px;
  }
}
@media (min-width: 50em) {
  .adaptive-text {
    padding-top: 50px;
  }
}
@media (min-width: 25em) and (max-width: 50em) {
  .adaptive-text {
    padding-top: clamp( 10px , -30px  +  10vw , 50px );
  }
}
@media (max-width: 25em) {
  .adaptive-text {
    padding-top: 10px;
  }
}

/* --------- Функція ---------- */
.block-1 {
  border: 1px solid black;
  width: 25%;
}

/* --------- оператори (математичні) ---------- */
.block-2 {
  line-height: 2.25;
  width: 200px;
}

/* --------- цикл ---------- */
.items {
  color: #913939;
}
.items__item {
  font-size: 20px;
  visibility: hidden;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  opacity: 0;
  -webkit-animation: show-items 1s ease forwards;
          animation: show-items 1s ease forwards;
}
.items__item:not(:last-child) {
  margin-bottom: 20px;
}
.items__item:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.items__item:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.items__item:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.items__item:nth-child(4) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.items__item:nth-child(5) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.items__item:nth-child(6) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes show-items {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@keyframes show-items {
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}
/* ===== footer ===== */
.footer {
  padding: 2.5rem 0;
  text-align: center;
  font-size: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(96, 96, 96)), color-stop(50%, rgb(252, 252, 252)), to(rgb(180, 180, 180)));
  background: linear-gradient(90deg, rgb(96, 96, 96) 0%, rgb(252, 252, 252) 50%, rgb(180, 180, 180) 100%);
}