@use "sass:math";
@use "_reset";
@use "_mixins.scss" as *;

/* ===== Основні стилі ===== */

body {
   opacity: 0;
   transition: opacity 0.5s ease;

   &.loaded {
      opacity: 1;
   }
}

.wrapper {
   overflow: clip;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.wrapper > main {
   flex-grow: 1;
}

[class*="__container"] {
   margin: 0 auto;
   padding: 0 toRem(15);
   max-width: toRem(1030);
}

/* -------------------------- */

.header {
   padding: 1.25rem;
   margin-bottom: 3.125rem;
   background: linear-gradient(90deg, rgba(96, 96, 96, 1) 0%, rgba(252, 252, 252, 1) 50%, rgba(180, 180, 180, 1) 100%);

   &__container {
      display: flex;
      align-items: center;
   }
   &__logo {
      width: toRem(97);
      height: toRem(97);
      overflow: hidden;
      border-radius: 50%;
   }
   &__logo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -1.875rem 0;
   }

   &__headline {
      font-size: 2.8125rem;
      font-weight: 700;
      letter-spacing: 0.5rem;
      color: #913939;
      text-shadow: 0.125rem 0.125rem 0.125rem coral;
      margin: 0 auto;
   }
}

/*---------------------*/

.item {
   font-size: toRem(20);
   color: #000;
}

/* ------------------- */

.footer {
   padding: 2.5rem 0;
   text-align: center;
   font-size: 1.5rem;
   background: linear-gradient(90deg, rgba(96, 96, 96, 1) 0%, rgba(252, 252, 252, 1) 50%, rgba(180, 180, 180, 1) 100%);
   transition:
      background 0,
      5s;
}

.footer--hover {
   background: linear-gradient(
      90deg,
      rgba(120, 120, 120, 1) 0%,
      rgba(240, 240, 240, 1) 50%,
      rgba(160, 160, 160, 1) 100%
   );
}
